# Rasa specific exclusions
models/
logs/
.cache/
.rasa/cache


# Virtual environment
.venv/

# User-specific settings
.env

# IDE/Editor specific files
.vscode/
.idea/

# Temporary files
*~
.DS_Store

# Cached dependencies
Pipfile.lock
poetry.lock

# Compiled Python files
*.pyc

